[Unit]
Description=picom compositor
PartOf=graphical-session.target

[Service]
ExecStart=/usr/local/bin/picom
Restart=always

    
[Install]
WantedBy=graphical-session.target

