[Unit]
Description=udiskie
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/udiskie --notify --no-automount --tray
Restart=always

[Install]
WantedBy=graphical-session.target