[Unit]
Description=xss-lock
OnFailure=failsafe-xsecurelock.service

[Service]
Slice=session.slice

Restart=always

EnvironmentFile=%h/.config/xsecurelock
ExecStart=xss-lock --session=${XDG_SESSION_ID} --notifier=/usr/libexec/xsecurelock/dimmer /usr/bin/xsecurelock

