# ignore everything
*

# Except for these...
!.gitignore
!config.org
!logos/**
!juank-emacs-modules/**
!juank-lisp/**

# ...even if they are in subdirectories
!*/
/shared/home/dot-emacs.d/juank-emacs-modules/init-dict.el
